@font-face {
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: "Sen";
    src: url(./assets/fonts/Sen/Sen-Regular.ttf);
}